:root {
    --surface-ground: var(--p-surface-100);
    --code-background: var(--p-surface-900);
    --code-color: var(--p-surface-200);
    --cardapio-chip-color: var(--p-surface-200);
    --scrollbar-color: var(--p-surface-300);
    --scrollbar-color-hover: var(--p-surface-400);
}
